<p>Hola, <strong><%= @user.email %></strong></p>

<p>Tu crédito en la tienda de memo ha llegado a: <strong><%= @balance %></strong>, es hora de tomarnos un café y saldemos cuentas.</p>

<p>Saludos de parte de todo el equipo de La Tienda de Memo</p>
