<div class="div container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>La Tienda de Memo! </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
